name: Compile LaTeX
on:
  push:
    branches: [master]
jobs:
  generateDocs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Compile tex
        run: sudo apt update -y; sudo apt upgrade -y; sudo apt install -y texlive-latex-extra texlive-lang-all; mkdir build; latex -output-format=pdf -output-directory=build summary.tex
      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: .
